.content{
    background-color: antiquewhite;
}

table{
    margin-top: 10px;
    /* border:8px solid rgb(61, 57, 57); */
    width: 100vw;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1.4vw;
    padding: 20px;
    /* height: 50vh; */
    margin: auto;
}
table,td,tr,th{
    border: 2px solid black;
    border-collapse: collapse;
}
th{
    background-color: rgb(220, 44, 44);
    color: white;
    font-size: 1.2rem;
}
td{
    font-size: 1rem;
}
caption{
    font-size: 2rem;
}