
/* This is common code */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');



body{
    background-color: rgb(124, 168, 249);
    font-family: cursive;
    font-weight: bold;
    color: rgb(55, 121, 244);
    background-image: url(rr.jpg);
   /* background-color: #f3f5f9; */
}

.wrapper{
  display: flex;
  position: relative;
}





/* this is specific css */
h1 {
    text-align: center;
    color: rgb(0, 0, 0);

}

marquee {
    color: tomato;
}

table {
    background-color: rgb(195, 239, 252);
    border: 8px solid rgb(57, 72, 153);
    border-radius: 2px;
    margin: auto;
    padding: 25px 25px;
    height: 50vh;
    width: 70%;
}

textarea, table td input {
    border-radius: 2px;
    background-color: aqua;
}
input[type="submit"]{
    background-color: rgb(255, 174, 0);
    padding: 10px;
    color: rgb(2, 2, 2);
    font-weight: bold;
    font-size: 1vw;
    border-radius: 10px;
}
input[type="submit"]:hover{
    background-color: rgb(32, 174, 29);
    color: rgb(255, 255, 255);
    cursor: pointer;
    
}
input[type="reset"]{
    background-color: rgb(255, 174, 0);
    padding: 10px;
    font-weight: bold;
    font-size: 1vw;
    border-radius: 10px;
}
input[type="reset"]:hover{
    color: white;
    background-color: red;
    border-color: red;
    cursor: pointer;
}